input[type=submit], input[type=button], .btn {
	display: inline-block;
	text-decoration: none;
	padding: .375em .875em;
	background-color: #0074cc;
	background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
	background-image: linear-gradient(top, #0088cc, #0055cc);
	background-repeat: repeat-x;
	border: 1px solid #05c;
	border-radius: .5em;
	color: #fff;
	text-shadow: 0 2px rgba(0,0,0,.3);
	box-shadow: 0 0 .1em rgba(0,0,0,.3);
	font-size: 1.5em;
}

#right-corner {
	margin-right: 0;
	padding-top: 20px;
}